*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
main{
    margin-top: 260px;
}
p{
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ef5a2c
}
.menu_top{
    width: 100%;
    height: 150px;
    border-bottom: 80px solid #36c8f0;
    border-top: 10px solid #36c8f0;
    background-color: white;
    text-align: center;
}
.top_esp{
    width: 140px;
    float: left;
    padding: 10px;
}
.top_dir{
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #ef5a2c;
    padding-left: 35px;
    padding-top: 20px;
}
.menu_down{
    background-color: #36c8f0;
    height: 45px;
    text-align: center;
}
.menu{
    position: relative;
    top: 15px;
    border-right: solid 2px #ef5a2c;
    padding: 10px;
}
.clear{
    clear:both;
}